<html>
    
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsbWnZ-dIt61WeI9VO6szKod-CRsyS8W4"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">Moving Object Tracker</h1>
    
		<div class="row">
			<div class="col-sm-7">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Location Id</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
						</tr>
					</thead>
					<tbody>
						{% for row in site_list %}
						<tr>
							<th scope="row">{{ row['id'] }}</th>
							<td>{{ row['name'] }}</td>
							<td><button class="btn btn-primary" onclick="selectLocation({{ row['latitude'] }}, {{ row['longitude'] }})">Select</button></td>

						</tr>
						{% endfor %}
					</tbody>
				</table>
				</table>
			</div>
			<div class="col-sm-5" id="map-canvas" style="width:600px;height:400px"></div>
				<script>
					// Default center
					var defaultLat = 8.239908953967545;
					var defaultLng = 124.24478108857517;
					var map = new google.maps.Map(document.getElementById('map-canvas'), {center: {lat: defaultLat, lng: defaultLng}, zoom: 16});

					// Function to update map center
					function selectLocation(latitude, longitude) {
						map.setCenter({ lat: latitude, lng: longitude });
					}
				</script>
			</div>
		</div>
	</div>

    <br />


</body>


</html>