<html>

<head>

  <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>
</head>

<body>
<div>
  <center>
  <button onclick="move1()"> GPS 1</button>
  <br />
  <button onclick="move2()"> GPS 2 </button>
  <br />
  <button onclick="move3()"> GPS 3 </button>
</center>
</div>

<script>

var pnChannel = "map-channel";
var pubnub = new PubNub({
        publishKey:   'pub-c-3a0c331d-6dfd-4e0c-ae5a-efe81298da62',
        subscribeKey: 'sub-c-9b1b6642-c02c-4a31-8318-b11a7e03d387'
        });

function move1()	
  {										   
  race([
      {lat:8.239806678867545, lng:124.24480159663443},
      {lat:8.239786846048755, lng:124.24441094374949},
    ]);
  }
  
function move2()
{
  race([
        {lat:8.239847523719664, lng:124.24433546320800},
        {lat:8.239744373720356, lng:124.24443240142054},
    ]);
}

function move3()
{
  race([
      {lat:8.240146868607766, lng: 124.24481875522838},
      {lat:8.240296513634057, lng:124.2448508260061},
    ]);
}	

function race(locs)
					{
							pubnub.publish({channel:pnChannel, message:locs});
					}

</script>


</body>

</html>