<html>
    
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsbWnZ-dIt61WeI9VO6szKod-CRsyS8W4"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">Moving Object Tracker</h1>
    
		<div class="row">
			<div class="col-sm-7">
				<table class="table">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Handle</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td colspan="2">Larry the Bird</td>
						<td>@twitter</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-5" id="map-canvas" style="width:600px;height:400px"></div>
				<script>
					// Philippine Map
					window.lat = 12.8797;
					window.lng = 121.7740;
					var map = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:5});
				</script>
			</div>
		</div>
	</div>

    <br />

	
</body>


</html>